---
import Layout from '~/layouts/PageLayout.astro'
---

<Layout>
  <style>
    .back-button {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px; /* Added spacing between back button and coin animation */
    }
    .back-button a {
      text-decoration: none;
      color: #007bff;
    }
    .back-button a:hover {
      text-decoration: underline;
    }
    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px; /* Added spacing between "Flip Coin" button and footer */
    }
    #coin {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px solid #666;
      transform-origin: center;
      margin-bottom: 20px;
    }
    .heads, .tails {
      display: none;
    }
    .heads circle, .tails circle {
      fill: #ccc;
    }
    .heads text, .tails text {
      fill: #333;
    }
    button#flipButton {
      border: 2px solid #007bff;
      padding: 10px 20px;
      background-color: #f1f1f1;
      color: #333;
      border-radius: 12px;
    }
  </style>
  <div class="content-container">
    <section>
      <div class="back-button">
        <a href="/school">&#8592; Back to Web Tools Index</a>
      </div>
      <svg id="coin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <g class="heads">
          <circle cx="50" cy="50" r="45"/>
          <text x="50" y="60" font-size="24" text-anchor="middle">Heads</text>
        </g>
        <g class="tails">
          <circle cx="50" cy="50" r="45"/>
          <text x="50" y="60" font-size="24" text-anchor="middle">Tails</text>
        </g>
      </svg>
      <button id="flipButton">Flip Coin</button>
    </section>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const flipButton = document.getElementById('flipButton');

      flipButton.addEventListener('click', function() {
        const coin = document.getElementById('coin');
        const heads = document.querySelector('.heads');
        const tails = document.querySelector('.tails');

        const isHeads = Math.random() >= 0.5;
        coin.style.transform = '';
        const numberOfFlips = Math.floor(Math.random() * 5) + 3;
        const rotation = isHeads ? 360 * numberOfFlips : 360 * numberOfFlips + 180;
        coin.style.transition = 'transform 1s';
        coin.style.transform = `rotateY(${rotation}deg)`;

        setTimeout(() => {
          if (isHeads) {
            heads.style.display = 'block';
            tails.style.display = 'none';
          } else {
            heads.style.display = 'none';
            tails.style.display = 'block';
          }
        }, 1000);
      });
    });
  </script>
</Layout>
