---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';


const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'About', href: '#hero' },
        { text: 'Resume', href: '#resume' },
        { text: 'Portfolio', href: '#portfolio' },
        { text: 'Blog', href: '/blog' },
        { text: 'Github', href: 'https://github.com/cam-alvarez' },
      ]}/>
      <!--actions={[-->
      <!--  {-->
      <!--    text: 'Hire me',-->
      <!--    href: '#',-->
      <!--  },-->
      <!--]}-->
    <!--  isSticky-->
    <!--  showToggleTheme-->
    <!--/>-->
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Camila Alvarez"
    tagline="Personal Portfolio and Blog"
    actions={[{ variant: "primary", target: '_blank', text: 'Check Out My Blog', href: '/blog' }]}
  >
    <Fragment slot="subtitle">
      I'm a university student majoring in math and data science and analytics. Here, you'll find my work, projects, and thoughts on topics ranging from machine learning to mathematical theory. My aim is to make these complex subjects accessible and interesting, whether you're a fellow student or simply curious about the intersection of data and math. Thanks for visiting, and I hope you find something here that piques your interest.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/cam-alvarez',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-google',
        callToAction: {
          target: '_blank',
          text: 'Email',
          href: '#',
        },
      },
    ]}
    image={{
      src: '/memoji.png',
      alt: 'Colorful Image',
      style: 'background-color: transparent; opacity: 0.8;',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h3>
      <p>
        Hello! I'm Camila, a passionate student majoring in Mathematics and Data Science & Analytics. I fell in love with the abstract beauty and endless possibilities of math, and I'm fascinated by the power of data to solve real-world problems. I'm currently honing my skills in Python programming and statistical analysis, aiming to become proficient in machine learning techniques.
      </p>
      <br />
      <!-- Using text-lg to make the title smaller than the parent title -->
      <h4 class="text-lg font-bold tracking-tight dark:text-white sm:text-lg mb-1">Why Math?</h4>
      <p>
        For me, math is more than just equations and theorems; it's a creative art form. The more I delved into advanced topics, the more I realized the creative thought processes behind problem-solving. The complexity and elegance of mathematical logic never ceases to amaze me.
      </p>
      <br />
      <!-- Using text-lg to make the title smaller than the parent title -->
      <h4 class="text-lg font-bold tracking-tight dark:text-white sm:text-lg mb-1">Why Data Science?</h4>
      <p>
        Data Science is like the bridge between theory and application for me. I find it thrilling to leverage mathematical concepts to draw insights from data and create impactful solutions.
      </p>
    </Fragment>



    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Relevant work experience"
    items={[
      {
        title: 'District Secretary <br /> <span class="font-normal">Florida House of Representatives, District 95</span> <br /> <span class="text-sm font-normal">Dec 2019 - Jul 2020</span>',
        description: `Tasked with daily communication of COVID-19 statistics for the district. <br /> Conducted basic statistical analyses on demographic trends and infection rates. <br /> Utilized the analyses to focus educational efforts and inform constituents through social media platforms.`,
        icon: 'tabler:briefcase',
      },
      {
        title: 'Legal Intern <br /> <span class="font-normal">Florida Coast to Coast Legal Aid</span> <br /> <span class="text-sm font-normal">May 2019 - Oct 2019</span>',
        description: `Managed intake forms for pro-se litigants and identified data collection opportunities. <br /> Implemented a new system to analyze the intake data for resource allocation. <br /> Contributed to grant applications by providing useful data-driven insights.`,
        icon: 'tabler:briefcase',
      },

    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume2"
    title="Education"
    items={[
      {
        title: `Bachelor of Science in Data Science & Analytics <br /> <span class="font-normal">Florida Atlantic University</span> <br /> <span class="font-normal">GPA: 3.79</span> <br /> <span class="text-sm font-normal">Expected: December 2025</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Mathematics <br /> <span class="font-normal">Florida Atlantic University</span> <br /> <span class="font-normal">GPA: 3.79 <br /> <span class="text-sm font-normal">Expected: December 2025</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Associate of Arts, Finance <br /> <span class="font-normal">Broward College</span> <br /> <span class="font-normal">GPA: 3.76</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Technical Certificates: <br /> <span class="font-normal">Broward College</span> <br /> 
    <ul style="list-style-type: none; margin-left: 0;">
      <li style="list-style-type: none;">
        <ul style="list-style-type: disc; margin-left: 20px;">
          <li><span class="font-normal">Business Management</span></li>
          <li><span class="font-normal">Business Operations</span></li>
        </ul>
      </li>
    </ul>`,
        icon: 'tabler:school',
      },




    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the skills that enable me to delve into the world of Data Science and Mathematics."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Python Programming',
        description: 'Beginner-level proficiency in Python for data manipulation and analysis.',
      },
      {
        title: 'Statistical Analysis',
        description: 'Familiar with descriptive and inferential statistics for data analysis.',
      },
      {
        title: 'Problem-Solving',
        description: 'Methodical approach to solving complex problems.',
      },
      {
        title: 'SQL',
        description: 'Basic understanding of SQL for database queries.',
      },
      {
        title: 'Machine Learning',
        description: 'Basic understanding of Scikit-learn for machine learning applications.',
      },
      {
        title: 'Critical Thinking',
        description: 'Ability to evaluate and analyze information objectively.',
      },
      {
        title: 'Data Visualization',
        description: 'Basic skills in creating visualizations using Matplotlib and Seaborn.',
      },
      {
        title: 'Communication Skills',
        description: 'Adept at explaining complex topics in an understandable manner.',
      },
      {
        title: 'Teamwork',
        description: 'Experience in collaborative environments and academic projects.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="portfolio"
    title="Projects"
    subtitle="Previously completed class projects"
    isReversed
    image={{
      src: '/projectimages/1992electionproject.png',
      alt: 'project 1 display image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://github.com/cam-alvarez/AstroWind-Template/blob/ce56000ff26904006171977f0dc61512bbcd882d/public/pdfs/1992electionproject.pdf',
    }}
    items={[
      {
        title: 'Description:',
        description:
          'This project is centered on dissecting the results of the 1992 U.S. Presidential Election. We employed statistical tests to evaluate the uniformity of voting results for presidential candidates across all states and the District of Columbia. Additional analyses covered the significant differences in various demographic and social factors, like family size, home ownership, and education levels, across different U.S. regions.\n' +
          '\n',
      },
      {
        title: 'Skills Applied:',
        description:
          `
     <ul style="list-style-type: disc;">
       <li>Data Wrangling</li>
       <li>Descriptive Statistics</li>
       <li>Hypothesis Testing</li>
       <li>Data Visualization</li>
       <li>Python</li>
          <ul style="list-style-type: circle; margin-left: 20px;">
          <li>Pandas</li>
          </ul>       
     </ul>
     `,
      },

    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">1992 Presidential Election - Data Analysis</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'This project required us to manipulate a dataset to add new columns that focus on different educational categories. The analyses included calculating descriptive statistics and using visual methods like boxplots and scatter plots to compare demographic metrics across selected U.S. states. Topics covered included educational attainment, median household income, and housing rates among others.',
      },
      {
        title: 'Skills Applied:',
        description:
          `
     <ul style="list-style-type: disc;">
       <li>Data Wrangling</li>
       <li>Descriptive & Inferential Statistics</li>
       <li>Data Visualization</li>
       <li>Python</li>
          <ul style="list-style-type: circle; margin-left: 20px;">
          <li>Pandas</li>
          <li>Numpy</li>
          </ul>
     </ul>
     `,
      },
    ]}
    image={{
      src: '/projectimages/homework4.png',
      alt: 'project 2 display image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://github.com/cam-alvarez/Personal-Portfolio-and-Blog/blob/ce56000ff26904006171977f0dc61512bbcd882d/public/pdfs/homework4.pdf',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Educational and Demographic Analysis of U.S. Counties</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `This project had multiple objectives. One part aimed at investigating the average number of tasks completed by four computers in a workplace setting, utilizing Analysis of Variance (ANOVA) to identify any significant differences. The second part analyzed how rat skin absorbs a certain pesticide over time. Additional analyses included determining the effect of different factors like oven type and temperature on cake texture, as well as a three-factor experiment to assess variances among main effects and interactions.`,
      },
      {
        title: 'Skills Applied:',
        description:
          `
     <ul style="list-style-type: disc;">
       <li>Hypothesis Testing</li>
       <li>Descriptive Statistics</li>
       <li>Experimental Design & Analysis</li>
       <li>Python</li>
     </ul>
     `,
      },
    ]}
    image={{
      src: '/projectimages/homework5.png',
      alt: 'project 3 display image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://github.com/cam-alvarez/Personal-Portfolio-and-Blog/blob/ce56000ff26904006171977f0dc61512bbcd882d/public/pdfs/homework5.pdf',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">ANOVA Analysis: Workplace Productivity, Chemical Absorption Rates, and Additional Experiments</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <!--<Testimonials-->
  <!--  title="Client testimonials"-->
  <!--  subtitle="Discover what clients have to say about their experiences working with me."-->
  <!--  testimonials={[-->
  <!--    {-->
  <!--      testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,-->
  <!--      name: 'Mark Thompson',-->
  <!--      job: 'Creative director',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',-->
  <!--        alt: 'Mark Thompson Image',-->
  <!--      },-->
  <!--    },-->
  <!--    {-->
  <!--      testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,-->
  <!--      name: 'Emily Martinez',-->
  <!--      job: 'CEO',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',-->
  <!--        alt: 'Emily Martinez Image',-->
  <!--      },-->
  <!--    },-->
  <!--    {-->
  <!--      testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,-->
  <!--      name: 'Laura Simmons',-->
  <!--      job: 'Founder of an NGO',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',-->
  <!--        alt: 'Laura Simmons Image',-->
  <!--      },-->
  <!--    },-->
  <!--    {-->
  <!--      testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,-->
  <!--      name: 'Alex Foster',-->
  <!--      job: 'Director of web services',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',-->
  <!--        alt: 'Alex Foster Image',-->
  <!--      },-->
  <!--    },-->
  <!--    {-->
  <!--      testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,-->
  <!--      name: 'Jessica Collins',-->
  <!--      job: 'Product Manager',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',-->
  <!--        alt: 'Jessica Collins Image',-->
  <!--      },-->
  <!--    },-->
  <!--    {-->
  <!--      testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,-->
  <!--      name: 'Michael Carter',-->
  <!--      job: 'Event Coordinator',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',-->
  <!--        alt: 'Michael Carter Image',-->
  <!--      },-->
  <!--    },-->
  <!--  ]}-->
  <!--/>-->

  <!-- CallToAction Widget *********** -->

  <!--<CallToAction-->
  <!--  title="Let's create together"-->
  <!--  subtitle="Ready to transform your vision into captivating designs?"-->
  <!--  actions={[{-->
  <!--    variant:"primary",-->
  <!--    text: 'Hire me',-->
  <!--    href: '/',-->
  <!--  }]}-->
  <!--/>-->

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Follow along as I navigate the world of data science, math, and philosophy as a student. In this blog, I break down complex topics into easily digestible lessons, both to deepen my own understanding and to help fellow learners. Expect straightforward advice, actionable tips, and a transparent look into my learning journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
