---

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PDF Display</title>
  <style>
    /* Optional: Add some CSS to size the iframe or embed tags */
    iframe, embed {
      width: 100%;
      height: 600px;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>

<iframe src="../../../public/pdfs/1992electionproject.pdf" type="application/pdf"></iframe>

